<!-- components/banner.html -->
<div class="banner-container">
  <div class="container">
    <h2>You are looking for work, many choices for you</h2>
    <div class="options">
        <div class="option-card">
            <h3>FIND WORK</h3>
            <div class="content">
                <div class="icon"><img src="/public/assets/icons/document-text.webp" /></div>
                <div class="text-content">
                    <p>Are you a partner looking for a project?</p>
                    <span>You want to find a job</span>
                </div>
            </div>
        </div>
        <div class="option-card">
            <h3>PROJECT REGISTRATION</h3>
            <div class="content">
                <div class="icon"><img src="/public/assets/icons/looking.webp" /></div>
                <div class="text-content">
                    <p>Want to post a project or look for a development team?</p>
                    <span>Looking for project partners</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
