<!-- components/filter.html -->
<div class="filter-container">
    <div class="filter-results">
        <div class="filter-header" data-toggle="national">
            <h4>Filter</h4>
            <span class="results">1 - 50 of 864 results</span>
        </div>
    </div>
  <div class="filter-section">
      <div class="filter-header" data-toggle="national">
          <h4>National</h4>
          <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
      </div>
      <div class="filter-content" id="national">
          <label><input type="checkbox"> All national</label>
          <label><input type="checkbox"> Korean</label>
          <label><input type="checkbox"> Vietnam</label>
      </div>
  </div>

  <div class="filter-section">
      <div class="filter-header" data-toggle="talent-badge">
        <h4>Talent badge</h4>
        <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
      </div>
      <div class="filter-content" id="talent-badge">
        <label><input type="checkbox"> All talent badge</label>
        <label><input type="checkbox"> Top review <span class="icon"><img src="../public/assets/images/level_review.png" /></span></label>
        <label><input type="checkbox"> Good review <span class="icon"><img src="../public/assets/icons/level_review_orange.png" /></span></label>
        <label><input type="checkbox"> Rising review <span class="icon"><img src="../public/assets/icons/level_review_green.png" /></span></label>
        <label><input type="checkbox"> Just joined</label>
    </div>
  </div>

  <div class="filter-section">
      <div class="filter-header" data-toggle="job-category">
        <h4>Job category</h4> 
          <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
      </div>
      <div class="filter-content" id="job-category">
          <label><input type="checkbox"> All job category</label>
          <label><input type="checkbox"> Plan</label>
          <label><input type="checkbox"> Design</label>
          <label><input type="checkbox"> Develop</label>
          <label><input type="checkbox"> Business Analyst</label>
          <label><input type="checkbox"> Product Manager</label>
          <label><input type="checkbox"> Product Owner</label>
          <label><input type="checkbox"> Content Creator</label>
          <label><input type="checkbox"> Other</label>
      </div>
  </div>

  <!-- Work Unit -->
  <div class="filter-section">
        <div class="filter-header" data-toggle="work-unit">
            <h4>Work unit</h4> 
            <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
        </div>
        <div class="filter-content" id="work-unit">
            <label><input type="checkbox"> All work unit</label>
            <label><input type="checkbox"> Freelancer</label>
            <label><input type="checkbox"> Team</label>
            <label><input type="checkbox"> Company</label>
        </div>
    </div>

    <!-- Experience -->
    <div class="filter-section">
        <div class="filter-header" data-toggle="experience">
            <h4>Experience</h4>
            <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
        </div>
        <div class="filter-content" id="experience">
            <label><input type="checkbox"> All experience</label>
            <label><input type="checkbox"> > 1 year</label>
            <label><input type="checkbox"> 2 - 4 years</label>
            <label><input type="checkbox"> 5 - 10 years</label>
            <label><input type="checkbox"> < 10 years</label>
        </div>
    </div>

    <!-- Success Score -->
    <div class="filter-section">
        <div class="filter-header" data-toggle="success-score">
            <h4>Success score</h4>
            <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
        </div>
        <div class="filter-content" id="success-score">
            <label><input type="checkbox"> All success score</label>
            <label><input type="checkbox"> 10 & up</label>
            <label><input type="checkbox"> 100 & up</label>
            <label><input type="checkbox"> 1000 & up</label>
        </div>
    </div>

    <!-- Complete the Project -->
    <div class="filter-section">
        <div class="filter-header" data-toggle="complete-project">
            <h4>Complete the project</h4>
            <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
        </div>
        <div class="filter-content" id="complete-project">
            <label><input type="checkbox"> All complete the project</label>
            <label><input type="checkbox"> > 10 projects</label>
            <label><input type="checkbox"> > 100 projects</label>
            <label><input type="checkbox"> > 1000 projects</label>
        </div>
    </div>

    <!-- Level -->
    <div class="filter-section">
        <div class="filter-header" data-toggle="level">
            <h4>Level</h4>
            <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
        </div>
        <div class="filter-content" id="level">
            <label><input type="checkbox"> All level</label>
            <label><input type="checkbox"> Platinum</label>
            <label><input type="checkbox"> Gold</label>
            <label><input type="checkbox"> Silver</label>
            <label><input type="checkbox"> Broze</label>
        </div>
    </div>

    <!-- English Level -->
    <div class="filter-section">
        <div class="filter-header" data-toggle="english-level">
            <h4>English level</h4>
            <span class="arrow"><img src="../public/assets/icons/arrow-up.png" /></span>
        </div>
        <div class="filter-content" id="english-level">
            <label><input type="checkbox"> All english level</label>
            <label><input type="checkbox"> Basic</label>
            <label><input type="checkbox"> Conversational</label>
            <label><input type="checkbox"> Fluent</label>
            <label><input type="checkbox"> Native/ Bilingual</label>
        </div>
    </div>
</div>
