<!-- components/footer.html -->
<footer class="footer-container">
  <div class="container">
    <div class="footer-content">
        <div class="footer-section">
            <div class="footer-logo">
                <img src="../public/assets/icons/config.webp" alt="Project Hub Logo">
                <!-- <p>PROJECT HUB</p> -->
            </div>
            <div class="social-media">
                <p>Follow us</p>
                <ul>
                    <li><img src="../public/assets/icons/ri_facebook-fill.png" alt="Facebook"></li>
                    <li><img src="../public/assets/icons/Switter.png" alt="Twitter"></li>
                    <li><img src="../public/assets/icons/mdi_skype.png" alt="Skype"></li>
                    <li><img src="../public/assets/icons/line.png" alt="Website"></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <h4>Company</h4>
            <ul>
                <li>About us</li>
                <li>Find talent</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Support</h4>
            <ul>
                <li>Privacy Policy</li>
                <li>Center service</li>
                <li>Accessibility</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>junghozin@ok-sft.com</p>
            <p>82+1577-2751</p>
            <p>서울특별시 금천구 가산디지털로 123/1010-153호 (가산동 / 월드메르디앙2차)</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>projecthub © 2024. All rights reserved.</p>
    </div>
  </div>
</footer>
