<!-- components/header.html -->
<div class="container">
    <div class="header-container">
      <div class="logo">
          <span><img src="../public/assets/icons/config.webp" alt=""/></span>
      </div>
      <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
      <nav class="nav-menu">
          <ul>
              <li>
                  <a href="#">About us <span><img src="../public/assets/icons/arrow-down.webp"/></span></a>
                  <ul class="sub-menu">
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#">Dashboard <span><img src="../public/assets/icons/arrow-down.webp"/></span></a>
                  <ul class="sub-menu">
                      <li><a href="#">Overview</a></li>
                      <li><a href="#">Reports</a></li>
                      <li><a href="#">Analytics</a></li>
                  </ul>
              </li>
              <li><a href="#">Find talent <span><img src="../public/assets/icons/arrow-down.webp"/></span></a></li>
              <li><a href="#">Find work <span><img src="../public/assets/icons/arrow-down.webp"/></span></a></li>
              <li><a href="#">Blog <span><img src="../public/assets/icons/arrow-down.webp"/></span></a></li>
          </ul>
      </nav>
      <div class="icons">
          <span><img src="../public/assets/icons/search.webp" alt=""/></span>
          <span><img src="../public/assets/icons/sms.webp" alt=""/> <span class="notice"></span></span>
          <span><img src="../public/assets/icons/ring.webp" alt=""/> <span class="notice"></span></span>
          <span><img src="../public/assets/icons/korean.webp" alt=""/></span>
      </div>
      <div class="settings">
        <span><img src="../public/assets/icons/user.webp" alt=""/></span>
      </div>
    </div>  
  </div>
  