<!-- components/pagination.html -->
<div class="pagination">
  <button class="page-arrow" disabled><img style="transform: rotate(180deg);" src="/assets/icons/arrow-right.png" /></button>
  <button class="page-number active">1</button>
  <button class="page-number">2</button>
  <button class="page-number">3</button>
  <button class="page-number">4</button>
  <button class="page-number">5</button>
  <span class="dots">...</span>
  <button class="page-number">50</button>
  <button class="page-arrow"><img src="/assets/icons/arrow-right.png" /></button>
</div>
