<!-- components/profile-card.html -->
<div class="search-input-container">
  <div class="search-box">
      <span class="icon"><img src="public/assets/icons/search.webp"/></span>
      <input type="text" placeholder="Search for talent">
  </div>
</div>

<div class="profile-card">
  <div class="profile-header">
      <div class="profile-image">
        <img src="public/assets/images/avartar3.png" />
        <span><img src="public/assets/images/level_review.png" /></span>
      </div>
      <div class="profile-info">
          <h3>Wade Warren <span class="badge">Gold</span></h3>
          <p class="title">Modern Marketing Materials Graphic Designer</p>
          <p class="location">Viet nam - Freelancer</p>
      </div>
      <div class="profile-options">
        <button class="invite-button">Invite to job</button>
        <button class="book-mark"><img src="public/assets/images/book-mark.png" /></button>
      </div>
  </div>
  <div class="profile-stats">
      <p class="stat">120 <span>Success score</span></p>
      <p class="stat">1,2k <span>Reviews</span></p>
      <p class="stat">999+ <span>Complete the project</span></p>
  </div>
  <div class="profile-description">
      <p>We are building a Loan Management System. It has a detailed view page, which shows all the information that is required to underwrite and approve a loan. The screen is divided into different sections 1. Personal Information 2. Bank Details 3. Documents 4. Employment 5. Previous Loans,…</p>
  </div>
  <div class="profile-tags">
      <span class="tag">Designer</span>
      <span class="tag">Figma</span>
      <span class="tag">Web</span>
      <span class="tag">App</span>
      <span class="tag">Adobe</span>
      <span class="tag">Mockup</span>
      <span class="tag">Prototyping</span>
      <span class="tag">Journey Mapping</span>
      <span class="tag">Landing page</span>
      <span class="tag">+12</span>
  </div>
</div>