<!-- components/tabs.html -->
<div class="tabs-container">
    <div class="tabs">
        <div class="tab active" data-content="best-matches">Best Matches (864)</div>
        <div class="tab" data-content="most-recent">Most Recent (123)</div>
        <div class="tab" data-content="saved-partner">Saved Partner (3)</div>
    </div>
    <div class="tab-content">
        <div id="best-matches" class="content active">
        </div>
        <div id="most-recent" class="content">
        </div>
        <div id="saved-partner" class="content">
        </div>
    </div>
</div>
