.tabs-container {
  position: relative;
  margin-top: 20px;
}

.tabs {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px 15px;
  font-weight: bold;
  color: #333;
  position: relative;
}

.tab.active {
  color: #83B414;
  border-bottom: 3px solid #83B414;
}

.tab-content {
  position: relative;
}

.tab-content .content {
  display: none;
  margin-top: 10px;
}

.content.active {
  display: block;
}
